<template>
	<b-container fluid class="machinepack-payment">
		<b-form>
			<b-form-group>
				<b-tabs v-model="tabIndex">
					<b-tab title="Subscription">
						<h2>Enter your subscription details below</h2>
						<b-row>
							<b-col sm="3">
								Subscription length (months):
							</b-col>
							<b-col sm="9">
								<b-form-input
									type="number"
									min="1"
									v-model="subscription.length"
									required
									placeholder="Enter name" />
							</b-col>
						</b-row>
						<b-row>
							<b-col sm="3">
								Total ({{ product.currency.toUpperCase() }}):
							</b-col>
							<b-col sm="9">
								<vue-numeric
									class="form-control"
									disabled
									currency="$"
									separator=","
									:precision="2"
									:value="subscriptionTotal">
								</vue-numeric>
							</b-col>
						</b-row>
					</b-tab>
					<!-- <b-tab title="Product">
						<h2>Select the product you'd like to buy</h2>
					</b-tab> -->
					<b-tab title="One-off">
						<h2>How much would you like to pay?</h2>
						<b-row>
							<b-col sm="3">
								<label for="machinepack-payment-amount">Amount</label>
							</b-col>
							<b-col sm="9">
								<vue-numeric
									id="machinepack-payment-amount"
									class="form-control"
									currency="$"
									separator=","
									:precision="2"
									v-model="product.amount">
								</vue-numeric>
							</b-col>
						</b-row>
					</b-tab>
				</b-tabs>
			</b-form-group>

			<b-form-group v-if="stripeEnabled || paypalEnabled">
				<b-row>
					<b-col sm="3">
						Complete payment using:
					</b-col>
					<b-col sm="9">
						<b-row>
							<b-col>
								<machinepack-payment-paypal
									v-if="paypalEnabled"
									:amount="product.amount"
									:options="paypal"
									@processing="handleProcessing"
									@success="handlePaypalSuccess"
									@failure="handleFailure"
								/>
							</b-col>
							<b-col>
								<machinepack-payment-stripe
									v-if="stripeEnabled"
									:amount="product.amount"
									:options="stripe"
									:name="product.name"
									:description="product.description"
									:currency="product.currency"
									label="Pay using Stripe"
									@processing="handleProcessing"
									@success="handleStripeSuccess"
									@failure="handleFailure"
								/>
							</b-col>
						</b-row>
					</b-col>
				</b-row>
			</b-form-group>
			<b-alert variant="info" :show="isProcessing">Validating payment</b-alert>
			<b-alert variant="danger" :show="isFailure">{{ failureMessage || 'Payment failed.' }}</b-alert>
			<b-alert variant="success" :show="isSuccess">{{ successMessage || 'Payment accepted, thank you!' }}</b-alert>
		</b-form>
	</b-container>
</template>

<script lang="js">
import Vue from 'vue'
import VueNumeric from 'vue-numeric'
import MachinepackPaymentPaypal from './MachinepackPaymentPaypal'
import MachinepackPaymentStripe from './MachinepackPaymentStripe'

export default  {
	name: 'machinepack-payment',
	props: {
		paypal: Object,
		stripe: Object,
		amount: Number,
		productName: String,
		productDescription: String,
		productId: String,
		subscriptionCostMonthly: Number,
		subscriptionPlanStripeId: String,
		currency: String,
		type: String
	},
	data: function() {
		return {
			isSuccess: false,
			isFailure: false,
			isProcessing: false,
			failureMessage: '',
			successMessage: '',
			tabIndex: 0,
			paypalEnabled: Boolean(this.paypal),
			stripeEnabled: Boolean(this.stripe),
			subscriptionEnabled: Boolean(this.subscriptionCostMonthly),
			product: {
				id: this.productId || '',
				amount: this.amount,
				name: this.productName || '',
				description: this.productDescription || '',
				currency: this.currency || 'aud'
			},
			subscription: {
				length: 1, // in months
				cost: this.subscriptionCostMonthly || 0.0
			}
		}
	},
	methods: {
		getBaseData: function() {
			var data = {
				'MonetaryAmount.currency': this.product && this.product.currency,
				'MonetaryAmount.value': this.product && this.product.amount
			}
			if (this.tabIndex == 0) {
				data['Product/Subscription.duration'] = 'P' + this.subscription.length + 'M'
				data['MonetaryAmount.value'] = this.subscriptionTotal
			}
			return data
		},

		/**
		 * Stripe implementation after charge is completed
		 * @param  {any} payload payload from Stripe charge
		 * @return {void}
		 */
		handleStripeSuccess: function (payload) {
			var processed = false
			try {
				processed = payload.token && sessionStorage.getItem(payload.token) !== null
			} catch (e) {}
			if (processed) {
				console.log('Payload has been handled, ignoring', payload)
				return
			}

			this.isSuccess = false
			this.isFailure = false
			this.isProcessing = true

			var event = {
				0: 'subscription.create.stripe',
				1: 'payment.create.stripe'
				// 2: 'purchase.create.stripe'
			}[this.tabIndex]

			var data = Object.assign({}, this.getBaseData(), {
				'Intangible/StripePayment.token': payload.token,
				'Product.productId': this.subscriptionPlanStripeId,
				'Person.email': payload.email
			})

			const vm = this
			this.$machinePack
				.send(event, data)
				.then(function(response) {
					try {
						sessionStorage.setItem(payload.token, true)
					} catch (e) {}
					try {
						vm.successMessage = (response.data || []).map(function (r) { return r.data && r.data.message || '' }).join('\n')
					} catch (e) {}
					vm.isSuccess = true
					vm.isFailure = false
					vm.isProcessing = false
				}).catch(function(err) {
					vm.handleFailure(err)
				})
		},

		/**
		 * PayPal handler (demo)
		 * @param  {any} response paypal success data
		 * @return {void}
		 */
		handlePaypalSuccess: function (response) {
			var event = {
				0: 'subscription.create.paypal',
				1: 'payment.create.paypal'
				// 2: 'purchase.create.paypal'
			}[this.tabIndex]

			var data = Object.assign({}, this.getBaseData(), {
				'Product.productId': 'fake paypal product id'
			})

			const vm = this
			this.$machinePack
				.send(event, data)
				.then(function(response) {
					vm.successMessage = (response.data || []).map(function (r) { return r.data && r.data.message || '' }).join('\n')
					vm.isSuccess = true
					vm.isFailure = false
					vm.isProcessing = false
				}).catch(function(err) {
					vm.handleFailure(err)
				})
		},
		handleFailure: function (error) {
			this.failureMessage = (error.response && error.response.data || []).map(function (r) { return r.reason || '' }).join('\n')
			this.isSuccess = false
			this.isFailure = true
			this.isProcessing = false
		},
		handleProcessing: function () {
			this.isSuccess = false
			this.isFailure = false
			this.isProcessing = true
		}
	},
	computed: {
		subscriptionTotal: function () {
			return this.subscription.length * this.subscription.cost
		}
	},
	components: {
		MachinepackPaymentPaypal,
		MachinepackPaymentStripe,
		VueNumeric
	}
}
</script>

<style scoped lang="scss">
</style>
