<template>
	<stripe-checkout
		:stripe-key="stripeKey"
		:product="product"
		@click="handleClick"
		button="Stripe"
		button-class="btn btn-block btn-primary btn-stripe-checkout"
		on-success="broadcast"
	>
	</stripe-checkout>
</template>


<script lang="js">
import Vue from 'vue'
import {
	Bus,
	StripeCheckout
} from 'vue-stripe'

/**
 * basic checkout type payment using Stripe
 * TODO: https://github.com/fromAtoB/vue-stripe-elements or similar
 */
export default {
	name: 'machinepack-payment-stripe',
	props: {
		amount: Number,
		name: String,
		description: String,
		currency: String,
		options: Object
	},
	created: function () {
		Bus.$on('vue-stripe.success', this.handleSuccess)
		Bus.$on('vue-stripe.failure', this.handleFailure)
		Bus.$on('vue-stripe.not-found', this.handleFailure)
	},
	beforeDestroy: function() {
		Bus.$off('vue-stripe.success', this.handleSuccess)
		Bus.$off('vue-stripe.failure', this.handleFailure)
		Bus.$off('vue-stripe.not-found', this.handleFailure)
	},
	data: function () {
		return {
			stripeKey: this.options.key,
			baseProduct: {
				name: this.name || '',
				description: this.description || '',
				amount: this.amount * 100.0,
				currency: this.currency || 'aud'
			}
		}
	},
	methods: {
		handleSuccess: function (payload) {
			this.$emit('success', payload)
		},
		handleFailure: function (error) {
			this.$emit('failure', error)
		},
		handleClick: function () {
			this.$emit('processing')
		}
	},
	computed: {
		product: function() {
			return Object.assign({}, this.baseProduct, {
				amount: Number(this.amount * 100.0)
			})
		}
	},
	components: {
		'stripe-checkout': StripeCheckout
	}
}
</script>

<style scoped lang="scss">
</style>
