<template>

	<b-button block @click="onBtnClick()">PayPal (demo)</b-button>

</template>

<script lang="js">
export default {
	name: 'machinepack-payment-paypal',
	props: {
		amount: Number
	},
	data: function () {
		return {
		}
	},
	methods: {
		onBtnClick: function () {
			const vm = this
			vm.$emit('processing')
			setTimeout(function() {
				// if (Math.random() > 0.6) {
					vm.$emit('success', [{
						message: 'Paypal was a success.'
					}])
				// } else {
				// 	vm.$emit('failure', [{
				// 		reason: 'Paypal failed'
				// 	}])
				// }
			}, 1000)
		}
	},
	computed: {

	}
}
</script>

<style scoped lang="scss">
</style>
